
html,*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
background-color: aliceblue;
animation: fadeIn 1s ease forwards;
}
body .fade{
    display: flex;
    position: fixed;
    z-index: 1;
    width: 0;
    height: 0;
    justify-content: center;
    align-items: center;
    animation: keyfade 2s ease forwards;
}
body .fade img{
    width: 100px;
    animation: keyFade 2s ease forwards;
}
nav{
background-color: white;
border-bottom: 1px solid black;
border-radius: 0 0 2rem 2rem;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
box-shadow: 5px 5px black;
}
nav ul{
list-style: none;
display: flex;
gap: 1rem;
margin: 2rem;
}
nav ul li a{
text-decoration: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-bottom: 1px solid rgba(255, 68, 0, 0);
font-weight: 600;
color: black;
transition: all;
transition-duration: 600ms;
}
nav ul li a:hover{
border-bottom: 1px solid black;
}
nav .profile img{
width: 4rem;
margin: 1rem;
transition: all;
transition-duration: 600ms;
}
nav .profile img:hover{
width: 5rem;
}
main {
display: flex;
padding: 2rem;
justify-content: space-between;
position: fixed;
height: 85%;
width: 100%;
}
main .profile{
background-color: white;
border: 1px solid black;
width: 30%;
display: flex;
flex-direction: column;
align-items: center;
padding: 2rem;
gap: 1rem;
border-radius: 2rem;
box-shadow: 5px 5px black;
}
main .profile .des .deskripsi {
border-top: 1px solid black;
display: flex;
justify-content: space-between;
gap: 1rem;
padding-top: 2rem;
}
main .profile .des .deskripsi .deskripsi-text{
display: flex;
flex-direction: column;
gap: 1rem;
}
main .profile .des .deskripsi .deskripsi-text a{
text-decoration: none;
color: black;
transition: all;
transition-duration: 600ms;
border-bottom: 1px solid rgba(0, 0, 0, 0);
}
main .profile .des .deskripsi .deskripsi-text a:hover{
border-bottom: 1px solid black;
}
main .profile .des .deskripsi .logo {
display: flex;
flex-direction: column;
gap: 18px;
}
main .profile .des .deskripsi .logo a img{
width: 16px;
display: flex;
align-items: center;
justify-content: center;
}
main .profile .des .deskripsi a{
font-size: 14px;
}
main .profile .des .medsos img{
width: 2rem;
transition: all;
transition-duration: 600ms;
}
main .profile .medsos{
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 100%;
padding-top: 3rem;
gap: 1rem;
}
main .profile .des .medsos img:hover{
width: 3rem;
}
main .profile .profile-img{
height: 7rem;
width: 7rem;
background-color: aliceblue;
border: 1px solid black;
border-radius: 50%;
transition: all;
transition-duration: 600ms;
}
main .profile .profile-text {
display: flex;
flex-direction: column;
align-items: center;
gap: 5px;
}
main .profile .profile-text a{
text-decoration: none;
color: black;
font-weight: 900;
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
}
main .profile .profile-text p{
font-size: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main .biodata {
background-color: white;
border: 1px solid black;
border-radius: 2rem;
box-shadow: 5px 5px black;
height: 100%;
width: 65%;
display: flex;
flex-direction: column;
padding: 2rem;
gap: 2rem;
}
main .biodata a{
text-decoration: none;
color: black;
font-weight: 600;
padding-left: 1rem;
}
main .biodata .tentang-saya-text{
background-color: white;
border: 1px solid black;
border-radius: 1rem;
padding: 1rem;
}
main .biodata .skill .skill-item{
display: flex;
flex-direction: row;
gap: 2rem;
padding: 1rem;
}
main .biodata .skill .skill-item a{
background-color: aliceblue;
border: 1px solid black;
width: 100%;
padding-left: 0;
padding: 5px;
border-radius: 1rem;
font-weight: 200;
box-shadow: 5px 5px black;
transition: all;
display: flex;
align-items: center;
justify-content: center;
transition: all;
transition-duration: 600ms;
}
main .biodata .skill .skill-item a:hover{
padding: 10px;
}
main .biodata .pendidikann .pendidikann-text {
display: flex;
flex-direction: column;
background-color: white;
border: 1px solid black; 
border-radius: 1rem;
padding: 1rem;
gap: 1rem;
}
main .biodata .pendidikann .pendidikann-text .nama-sekolah{
display: flex;
gap: 1rem;
}
main .biodata .pendidikann .pendidikann-text .nama-sekolah a{
font-weight: 600;
font-family:'Times New Roman', Times, serif;
display: flex;
gap: 1rem;
border-left: 1px solid black;
transition: all;
transition-duration: 600ms;
}
main .biodata .pendidikann .pendidikann-text .nama-sekolah a:hover{
font-size: 24px;
}
main .biodata .pendidikann .pendidikann-text .nama-sekolah a i{
font-weight: 200;
font-family:'Courier New', Courier, monospace;
display: flex;
gap: 1rem;
}
main .biodata .tombol{
display: flex;
justify-content: center;
align-items: end;
width: max-content;
width: 100%;
height: 100%;
}
main .biodata .tombol .tombol-border{
width: 100%;
display: flex;
justify-content: center;
padding-top: 10px;
gap: 6rem;
border-top:1px solid black;
}
main .biodata .tombol img{
width: 20px;
}
main .biodata .video{
    background-color: whitesmoke;
    height: max-content;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}
main .biodata .video .video-list{
    display: flex;
    flex-direction: column;
}
main .biodata .video .video-list a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main .biodata .video .video-list video{
    display: flex;
    flex-direction: row;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    margin: 1rem;
}
main .biodata .link{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
main .biodata .link a{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 15px;
    gap: 5px;
    padding: 1rem;
    width: 100%;
    height: max-content;
    transition: all;
    transition-duration: 600ms;
}
main .biodata .link .link-text{
    font-weight: 600;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main .biodata .link .link-deskripsi{
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all;
    transition-duration: 600ms;
    padding-left: 1rem;
}
main .biodata .link a:hover{
    gap: 1rem;
}
@media only screen and (max-width : 768px){
nav{
    flex-direction: column;
}
nav ul{
    flex-direction: column;
    align-items: center;
}
.hide {
    display: none;
}
.hide-profile{
    display: none;
}
main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    width: 100%;
    gap: 2rem;
}
main .profile {
    width: 100%;
}
main .profile .profile-img:hover{
    width: 9rem;
    height: 9rem;
}
main .biodata {
background-color: white;
border: 1px solid black;
border-radius: 2rem;
box-shadow: 5px 5px black;
height: 100%;
width: 120%;
margin: 0;
display: flex;
flex-direction: column;
}
main .biodata .video {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0;
    padding: 0;
    width: 110%;
}
main .biodata .skill .skill-item{
display: flex;
flex-direction: column;
gap: 2rem;
padding: 1rem;
}
main .biodata .pendidikann .pendidikann-text .nama-sekolah a{
font-weight: 600;
font-size: 15px;
font-family:'Times New Roman', Times, serif;
display: flex;
gap: 1rem;
border-left: 1px solid black;
transition: all;
transition-duration: 600ms;
}
main .biodata .pendidikann .pendidikann-text .nama-sekolah a:hover{
    font-size: 16px;
}
main .biodata .video{
    height: max-content;
}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to{opacity: 1;}
}
@keyframes keyFade {
    0% {
        width: 1rem;
        filter: blur(5px);
    }
    25% {
        width: 50rem;
        filter: blur(2px);
    }
    50% {
        width: 25rem;
    }
    75% {
        width: 25rem;
    }
    100% {
        width: 25rem;
    }
}
@keyframes keyfade {
    0% {
        background-color: black;
        width: 100%;
        height: 100%;
    }
    50% {
        background-color: black;
        width: 100%;
        height: 100%;
    }
    90% {
        transform: translateX(0);
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    100% {
        transform: translateX(9000px);
        opacity: 0;
        width: 10%;
        height: 10%;
    }
}